<div class="container p-4">
    <div class="col-md-2 ">
        <div class="card card-body text-center" style="margin-bottom: 10px">
            <a href="/empresas/comercios/zonasentrega/listado/{{id}}">Ver Estilo Listado!</a>
        </div>
    </div>
    <div class="col-md-2 mx-auto">
        <div class="card card-body text-center">
            <a href="/empresas/comercios/zonasentrega/add/{{id}}">Crear Zona de Entrega!</a>
        </div>
    </div>
    <div class="row">        
        {{#each zonasentrega}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title text-uppercase">
                        {{codigo_postal}}
                    </h3>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a class="btn btn-danger" href="/empresas/comercios/zonasentrega/delete/{{id}}/{{comercio_id}}">
                        Eliminar
                    </a>
                    <a class="btn btn-secondary" href="/empresas/comercios/zonasentrega/edit/{{id}}/{{comercio_id}}">
                        Modificar
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>