<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/empresas/catalogos/edit/{{catalogo.id}}/{{catalogo.empresa_id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre_producto" class="form-control" placeholder="Nombre Producto" value="{{catalogo.nombre_producto}}"
                        autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="descripcion_producto" class="form-control"
                        placeholder="Descripcion Producto" value="{{catalogo.descripcion_producto}}">
                </div>
                <div class="form-group">
                    <input type="text" name="precio" class="form-control" placeholder="Precio" value="{{catalogo.precio}}">
                </div>
                <div class="form-group">
                    <input type="text" name="categoria" class="form-control" placeholder="Categoria" value="{{catalogo.categoria}}">
                </div>
                <div class="form-group">
                    <input type="text" name="tipo" class="form-control" placeholder="Tipo" value="{{catalogo.tipo}}">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>