<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/empresas/edit/{{empresa.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre_empresa" class="form-control" placeholder="Nombre Empresa" value="{{empresa.nombre_empresa}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="cif" class="form-control" placeholder="CIF" value="{{empresa.cif}}">
                </div>
                <div class="form-group">
                    <input type="text" name="direccion" class="form-control" placeholder="Direccion" value="{{empresa.direccion}}">
                </div>
                <div class="form-group">
                    <input type="text" name="encargado" class="form-control" placeholder="Encargado" value="{{empresa.encargado}}">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>